$desktopMedia: only screen and (min-width: 1200px);
$tabletMedia: only screen and (min-width: 768px) and (max-width: 1199px);
$phoneMedia: only screen and (max-width: 767px);

$border-main: #d8d6d6;
$border-second: #0465d4;

$white: #fff;
$blue: #045dc4;

$outline: #f8f085;
$shadow: #c5c5c5;

$text-color-first: #1a1a1a;
$text-color-second: #252525;

$bg-color-third: #d7fae5;
$bg-color-second: #f1f1f1;
